body {
    background-color: rgb(136, 61, 74);
}

#board {
    position:relative;
    margin: 10px;
    height: 95vh;  
    width: 95vw;
    background-image: url(../img/5-Most-Beautiful-Libraries-You-Should-Know-.jpeg);
    background-size: cover;
}

.player {
    position:absolute;
    /* bottom: 35%;
    left: 0%; */
}

.obstacle {
    position:absolute;
    object-fit: contain;
}

.book {
    position:absolute;
    object-fit: contain;
}

.button {
    padding: 2px 20px;
    background-color: rgb(239, 231, 220);
    border-radius: 2%;
    font-family: 'Georgia';
    color: brown;
    align-items: flex-end;
}

#books{
    position:relative;
    font-size: 15px;
    color:white;
    left: 2vw;
}


#lives{
    position:relative;
    font-size: 15px;
    color:white;
    left: 2vw;
}


